body{
    margin: 0;
}
.first{
    border: 1px solid green;
    display: flex;
    padding: 70px;
}
.first .one{
    padding: 40px;
    width: 50%;
}
.one h3{
    color: blue;
    font-size: 50px;
}
.one p{
    font-size: 30px;
    margin-top: -5%;
}

.first form{
    box-shadow: 2px 5px 5px 5px rgb(195, 185, 185);
    /* border: 1px solid green; */
    padding: 5px
}
.first form input{
    width: 90%;
    margin: 10px;
    padding: 10px;
}
.first form button{
    background-color: blue;
    color: white;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 5%;
}
first form a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.first form .c2{
    margin-top: 5%;
    padding: 15px;
}
.first form .c2 a{
    background-color: green;
    color: white;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}