.first{
    color: red;
    font-size: 30px;
    font-weight: bolder;
    font-style: italic;
    font-family: forte, cursive, algerian;
    text-align: center;
    letter-spacing: 3px;
    text-decoration: underline;
    text-shadow: 3px 3px 3px  blue;
}